<!doctype html>
<html>
  <head>
    <title>Simple Datalayer Demo</title>
  </head>
  <body>
    <h1>Simple Datalayer Demo</h1>
    <div id="main">
    </div>
    <div id="controls">
    </div>
    <div id="error">
    </div>

    <script type="text/html" id="template-controlsView">
      <form>
        <input type="button" id="add" value="Add New"</input>
        <input type="button" id="offline"
        <% if (online) { %>
        value="Go Offline"
        <% } else { %>
        value="Go Online"
        <% } %>
        ></input>
        <input type="button" id="reload" value="Reload Data"></input>
        <input type="button" id="save" value="Save"></input>
      </form>
    </script>
    
    <script type="text/html" id="template-sectionItemView">
      <td><%- section_id %></td>
      <td><input type="text" value="<%- term_name %>"
        <% if (!editable) { %>
        disabled="disabled"
        <% } %>
        >
      </input></td>
      <td><input type="text" value="<%- course_name %>"
        <% if (!editable) { %>
        disabled="disabled"
        <% } %>
        >
      </input></td>
      <td><input type="button" class="section-edit-button"
                 <% if (!editable) { %>
        value="Edit"
        <% } else { %>
        value="Done"
        <% } %>
        >
      </input></td>
    </script>

    <script type="text/html" id="template-sectionListView">
      <table>
        <thead>
          <tr><th>Current sections</th></tr>
        </thead>
        <tbody>
          <tr><th>Section ID</th><th>Term</th><th>Course</th><th></th></tr>
        </tbody>
        <tbody id="section-list">
        </tbody>
      </table>
    </script>

    <script type="text/html" id="template-errorListView">
      <ul id="error-list"></ul>
    </script>
    <script type="text/html" id="template-errorItemView">
      <span style="color: red" id="error-message"><%- messageText %></span>
    </script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.wreqr/0.1.0/backbone.wreqr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.babysitter/0.1.4/backbone.babysitter.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.1.0/backbone.marionette.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/localforage/0.9.2/localforage.min.js"></script>
    <script src="/static/js/DataLayer.js"></script>
    <script src="/static/js/DemoApp.js"></script>
    <script src="/static/js/DemoApp.Sections.js"></script>
    <script src="/static/js/DemoApp.Main.Views.js"></script>
    <script src="/static/js/DemoApp.Main.js"></script>
    <script>
     $(function () {
       DemoApp.start();
     });
    </script>
  </body>
</html>
